<app-overlay>
  <div
    class="flex w-full max-w-sm flex-col gap-8 rounded-xl bg-white p-8 shadow-2xl"
  >
    <h3 class="text-center text-2xl font-bold">แก้ไขหมวดหมู่</h3>
    <form [formGroup]="form" (ngSubmit)="update()" class="flex flex-col gap-8">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <label for="categoryName" class="text-sm font-semibold"
            >ชื่อหมวดหมู่</label
          >
          <input
            id="categoryName"
            formControlName="name"
            type="text"
            placeholder="ระบุชื่อหมวดหมู่"
            class="rounded border-stone-300"
          />
          @if (name?.hasError("required") && name?.touched) {
            <span class="text-xs text-red-500">โปรดระบุชื่อหมวดหมู่</span>
          }
          @if (
            (name?.hasError("minlength") || name?.hasError("maxlength")) &&
            name?.touched
          ) {
            <span class="text-xs text-red-500"
              >ความยาวชื่อหมวดหมู่ต้องอยู่ระหว่าง 1-100 ตัวอักษร</span
            >
          }
        </div>
      </div>
      <div class="grid grid-cols-2 place-items-center">
        <button type="submit" class="font-semibold text-yellow-600">
          อัปเดต
        </button>
        <button type="button" (click)="closed.emit()" class="font-semibold">
          ยกเลิก
        </button>
      </div>
    </form>
  </div>
</app-overlay>
