<app-overlay>
  <div
    class="flex w-full max-w-sm flex-col gap-8 rounded-xl bg-white p-8 shadow-2xl"
  >
    <h3 class="text-center text-2xl font-bold">แก้ไขบทเรียน</h3>
    <form [formGroup]="form" (ngSubmit)="update()" class="flex flex-col gap-8">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold" for="lessonTitle"
            >ชื่อบทเรียน</label
          >
          <input
            id="lessonTitle"
            formControlName="title"
            type="text"
            placeholder="ระบุชื่อบทเรียน"
            class="rounded border-stone-300"
          />
          @if (title?.hasError("required") && title?.touched) {
            <span class="text-xs text-red-500">โปรดระบุชื่อบทเรียน</span>
          }
          @if (
            (title?.hasError("minlength") || title?.hasError("maxlength")) &&
            title?.touched
          ) {
            <span class="text-xs text-red-500"
              >ความยาวชื่อบทเรียนต้องอยู่ระหว่าง 1-100 ตัวอักษร</span
            >
          }
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold" for="lessonCover"
            >ภาพปกบทเรียน</label
          >
          <div class="flex flex-col gap-2">
            @if (!cover?.value) {
              <button
                type="button"
                (click)="photoInput.click()"
                class="flex aspect-video items-center justify-center overflow-hidden rounded-xl border-2 border-dashed border-stone-300 bg-stone-50 font-semibold"
              >
                อัปโหลด
              </button>
            } @else {
              <div class="relative">
                <img
                  [src]="cover?.value"
                  class="aspect-video h-full w-full rounded-xl object-cover object-center"
                  alt="cover image"
                />
                <button
                  type="button"
                  (click)="clearCover()"
                  class="absolute right-2 bottom-2 flex size-8 items-center justify-center rounded-full bg-red-50 text-red-500"
                >
                  D
                </button>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 place-items-center">
        <button type="submit" class="font-semibold text-yellow-600">
          อัปเดต
        </button>
        <button type="button" (click)="closed.emit()" class="font-semibold">
          ยกเลิก
        </button>
      </div>
    </form>
  </div>
</app-overlay>

<input
  type="file"
  accept="images/*"
  (input)="onFileInput($event)"
  class="hidden"
  #photoInput
/>
