<button
  (click)="menuPanel.up()"
  class="fixed bottom-4 left-4 z-38 flex size-10 items-center justify-center rounded-lg bg-purple-50 shadow-lg"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
    />
  </svg>
</button>

<div
  [class]="`fixed top-0 left-0 z-39 h-dvh w-full transition-all duration-500 ${menuPanel.active ? 'visible opacity-100' : 'invisible opacity-0'}`"
  (click)="menuPanel.down()"
></div>

<div
  [class]="`fixed top-0 z-40 h-dvh w-64 bg-white p-4 transition-all duration-500 rounded-xl ${menuPanel.active ? 'left-0 shadow-2xl' :'-left-64 shadow-none'}`"
>
  <nav>
    <ul class="flex flex-col">
      <li>
        <a
          routerLink="/categories"
          routerLinkActive="bg-purple-50"
          (click)="menuPanel.down()"
          class="block rounded-lg px-4 py-2 font-semibold"
          >หมวดหมู่</a
        >
      </li>
      <li>
        <a
          routerLink="/lessons"
          routerLinkActive="bg-purple-50"
          (click)="menuPanel.down()"
          class="block rounded-lg px-4 py-2 font-semibold"
          >บทเรียน</a
        >
      </li>
      <li>
        <a
          routerLink="/photos"
          routerLinkActive="bg-purple-50"
          (click)="menuPanel.down()"
          class="block rounded-lg px-4 py-2 font-semibold"
          >รูปภาพ</a
        >
      </li>
    </ul>
  </nav>
</div>
